.cache
syntax: glob
*.log
*.log*
RemoteSystemsTempFiles
*.metadata
target/*
.DS_Store
*.settings
*.classpath
*.idea
*.iml
*.orig
*.txt~
*.sh~
*.scala~
*.md~
*.jar
.metadata
target
.DS_Store
.settings
.classpath
.project
classpath
.idea
.iml
.orig
.java.orig
dependency-reduced-pom.xml
