.cache
syntax: glob
*.log
*.log*
RemoteSystemsTempFiles
*.metadata
target/*
.DS_Store
*.settings
*.classpath
*.idea
*.iml
*.orig
*.txt~
*.sh~
*.scala~
*.md~
*.jar
.metadata
target
.DS_Store
.settings
.classpath
.project
classpath
.idea
.iml
.orig
.java.orig
dependency-reduced-pom.xml
/deploy
**/resources/deploy.conf
**/resources/deploy-settings.sh
# TODO: Implement basic fairscheduler config
**/resources/fairscheduler.xml
metastore_db
/db
spark-job-rest/db
